@mixin Grid($col, $row, $gap){
    display: grid;
    align-items: center;
    justify-content: center;
    gap: $gap;
    grid-template-columns: repeat($col, 1fr);
    grid-template-rows: repeat($row, 1fr);
}
