%regularFont{
    font-family: 'normal', serif;
}

%heavyFont{
    font-family: 'heavy', serif;
}

%gradientOne{
    background: rgb(54,82,215);
    background: linear-gradient(106deg, rgba(54,82,215,1) 0%, rgba(114,9,183,1) 100%);
}

%gradientTwo{
    background: rgb(54,82,215);
    background: linear-gradient(180deg, rgba(54,82,215,1) 0%, rgba(58,12,163,1) 70%);
}

%gradientThree{
    background: rgb(114,9,183);
    background: linear-gradient(45deg, rgba(114,9,183,1) 0%, rgba(54,82,215,1) 100%);
}

%boxshadow{
    box-shadow: 0px 5px 5px 0px rgba(84,84,84,0.75);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(84,84,84,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(84,84,84,0.75);
}