$white: #FFFFFF;
$lightGray: #D9D9D9;
$darkGray: #5B5B5B;
$black: #000000;
$darkestBlue: #223CB7;
$darkBlue: #4361EE;
$blue: #6980EE;
$lightBlue: #4895EF;
$lightestBlue: #4CC9F0;
$darkestPurple: #2A1B8B; 
$darkPurple: #210CA3;
$purple: #3A0CA3;
$lightPurple: #7209B7;






