main .hero, main .fun h3, main .fun h4, main .fun .buttonBox button, main .bubbles, main .artists, main .artists button, footer p, header nav, header nav .headerlogo h2, header nav .navigation .search-bar, header nav .login button {
  font-family: "normal", serif;
}

main .fun h2, main .bubbles h2, main .bubbles .gridTwo h3, main .artists h2, main .artists .gridThree h3 {
  font-family: "heavy", serif;
}

main .hero {
  background: rgb(54, 82, 215);
  background: linear-gradient(106deg, rgb(54, 82, 215) 0%, rgb(114, 9, 183) 100%);
}

main .fun, main .artists {
  background: rgb(54, 82, 215);
  background: linear-gradient(180deg, rgb(54, 82, 215) 0%, rgb(58, 12, 163) 70%);
}

footer, header {
  box-shadow: 0px 5px 5px 0px rgba(84, 84, 84, 0.75);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(84, 84, 84, 0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(84, 84, 84, 0.75);
}

main .fun {
  box-shadow: inset 0px -4px 5px 0px rgba(0, 0, 0, 0.75);
}

main .hero, main .artists {
  box-shadow: inset 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

header nav {
  background-color: #4361EE;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
header nav .menu {
  background-color: #4895EF;
}
header nav .menu img {
  width: 5vw;
  padding: 5vw;
  margin-top: 2vw;
}
header nav .headerlogo img {
  width: 45vw;
  padding-top: 2vw;
}
header nav .headerlogo h2 {
  font-weight: 300;
  font-size: 3vw;
  color: #FFFFFF;
  margin-top: 0;
  text-align: center;
}
header nav .navigation a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 500;
  display: none;
}
header nav .navigation img {
  width: 7vw;
  margin-top: 5vw;
  margin-left: 4vw;
  margin-right: 0;
  cursor: pointer;
}
header nav .navigation .search-bar {
  font-size: 5vw;
  display: none;
  padding: 2vw;
  position: absolute;
  width: 50vw;
  left: 25%;
  top: 100%;
  border-radius: 8px;
  border: solid 2px #3A0CA3;
}
header nav .login button {
  margin-top: 4vw;
  padding: 1vw 2vw;
  border: solid white 2px;
  border-radius: 5px;
  background-color: #4361EE;
  color: #FFFFFF;
  font-size: 5vw;
  margin-right: 2vw;
  margin-left: 0;
}
header nav .login button:hover {
  background-color: #FFFFFF;
  color: #4361EE;
}
@media (min-width: 800px) {
  header nav .menu img {
    width: 4vw;
    padding: 2vw;
    margin-top: 1vw;
  }
  header nav .headerlogo {
    width: -moz-fit-content;
    width: fit-content;
  }
  header nav .headerlogo img {
    width: 25vw;
    margin: auto;
    display: block;
  }
  header nav .headerlogo h2 {
    font-size: 1.7vw;
    text-align: center;
  }
  header nav .navigation {
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 8vw;
  }
  header nav .navigation a {
    display: inline-block;
    font-size: 3vw;
    padding: 1vw;
    margin-top: 0;
  }
  header nav .navigation img {
    width: 3vw;
    padding: 2vw;
    margin: 0;
    margin-top: 2vw;
    margin-bottom: -2.5vw;
  }
  header nav .navigation .search-bar {
    font-size: 2vw;
    padding: 1.5vw;
    width: 40vw;
    left: 30%;
  }
  header nav .login button {
    font-size: 3vw;
    border-width: 4px;
    border-radius: 10px;
    padding: 1vw 3vw;
    margin-top: 2vw;
    padding-bottom: 1.2vw;
  }
}
@media (min-width: 1100px) {
  header nav .menu img {
    width: 2vw;
    margin-top: 1vw;
    padding: 1vw;
  }
  header nav .headerlogo {
    margin-left: -20vw;
    margin-top: -1vw;
  }
  header nav .headerlogo img {
    width: 14vw;
  }
  header nav .headerlogo h2 {
    font-size: 0.8vw;
  }
  header nav .navigation {
    margin-left: -25vw;
    margin-top: -2vw;
  }
  header nav .navigation a {
    font-size: 2vw;
  }
  header nav .navigation img {
    width: 2vw;
  }
  header nav .navigation .search-bar {
    top: 25%;
    padding: 0.7vw;
    font-size: 1.5vw;
    border-radius: 20px;
    width: 25vw;
    left: 54%;
  }
  header nav .login button {
    font-size: 2vw;
    padding: 0.5vw 1.5vw;
    margin-top: 0.8vw;
    border-width: 2px;
  }
}
@media (min-width: 1400px) {
  header nav .menu img {
    width: 1.5vw;
    padding: 1vw;
    margin-top: 0.8vw;
  }
  header nav .headerlogo {
    margin-left: -40vw;
  }
  header nav .headerlogo img {
    width: 12vw;
  }
  header nav .headerlogo h2 {
    font-size: 0.7vw;
  }
  header nav .navigation {
    margin-top: -2.2vw;
    margin-left: -40vw;
  }
  header nav .navigation a {
    font-size: 1.4vw;
  }
  header nav .navigation img {
    width: 1.6vw;
  }
  header nav .navigation .search-bar {
    font-size: 1.3vw;
    padding: 0.5vw;
    left: 41%;
  }
  header nav .login button {
    font-size: 1.4vw;
    padding: 0.3vw 1vw;
    margin-top: 1vw;
    border-width: 3px;
  }
}

footer {
  background-color: #4361EE;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  text-align: center;
}
footer img {
  width: 100%;
}
footer p {
  color: #FFFFFF;
  font-size: 3vw;
}
@media (min-width: 800px) {
  footer p {
    font-size: 2vw;
  }
}
@media (min-width: 1100px) {
  footer {
    padding: 2vw 2vw;
    gap: 2vw;
    text-align: center;
  }
  footer p {
    font-size: 1.2vw;
  }
}
@media (min-width: 1400px) {
  footer {
    gap: 3vw;
  }
  footer p {
    font-size: 1.1vw;
  }
}

.togglemenu {
  display: none;
  position: absolute;
  background-color: #4895EF;
}
.togglemenu .links {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.togglemenu .links a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 6vw;
  padding: 1vw 0 1vw 6vw;
}
.togglemenu .links div {
  display: flex;
  flex-direction: column;
  background-color: #223CB7;
  padding-bottom: 5vw;
}
@media (min-width: 800px) {
  .togglemenu {
    filter: drop-shadow(1px 1px 15px rgba(0, 0, 0, 0.5490196078));
  }
  .togglemenu .links {
    width: 70vw;
  }
  .togglemenu .links div {
    display: flex;
    flex-direction: row;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
  .togglemenu .links .disable {
    display: none;
  }
  .togglemenu .links a {
    font-size: 3vw;
  }
}
@media (min-width: 1100px) {
  .togglemenu .links {
    width: 50vw;
  }
  .togglemenu .links a {
    font-size: 2vw;
  }
}
@media (min-width: 1400px) {
  .togglemenu .links {
    width: 35vw;
  }
  .togglemenu .links a {
    font-size: 1.5vw;
    padding: 0.5vw 2vw;
  }
}

main .hero .logo {
  width: 70%;
  display: block;
  margin: auto;
  padding-top: 10vw;
}
main .hero h2 {
  text-align: center;
  font-size: 3vw;
  color: #FFFFFF;
  font-weight: 300;
}
main .hero .sw {
  width: 90%;
  display: block;
  margin: auto;
  padding-bottom: 10vw;
}
main .fun {
  padding-top: 2vw;
  padding-bottom: 12vw;
  margin: auto;
  color: #FFFFFF;
}
main .fun h2 {
  text-align: center;
  font-size: 6vw;
}
main .fun h3 {
  text-align: center;
  font-size: 4vw;
  font-weight: 300;
  margin-top: -3vw;
  margin-bottom: 8vw;
}
main .fun .gridOne {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  margin: 4vw 5vw;
}
main .fun .gridOne h2 {
  font-size: 5vw;
  margin-top: 0;
}
main .fun .gridOne h3 {
  font-size: 4vw;
  font-weight: 400;
  margin-top: -3vw;
}
main .fun .gridOne img {
  width: 100%;
}
main .fun .gridOne .stats {
  display: flex;
  width: 25vw;
  justify-content: space-between;
  margin: auto;
  margin-top: -10vw;
}
main .fun .gridOne .stats img {
  width: 3vw;
  margin-left: -2vw;
}
main .fun .gridOne .stats h4 {
  font-size: 4vw;
  font-weight: 300;
}
main .fun .buttonBox button {
  background-color: transparent;
  color: #FFFFFF;
  border: solid 2px #FFFFFF;
  border-radius: 5px;
  padding: 1vw 3vw;
  font-size: 4vw;
  margin: auto;
  display: block;
}
main .fun .buttonBox button:hover {
  background-color: #FFFFFF;
  color: #3A0CA3;
}
main .bubbles {
  text-align: center;
  padding: 5vw 0;
}
main .bubbles h2 {
  color: #3A0CA3;
  font-size: 6vw;
  margin-bottom: 1vw;
}
main .bubbles h3 {
  font-size: 3.5vw;
  font-weight: 400;
  color: #4895EF;
  margin-top: 0;
}
main .bubbles .gridTwo {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
  margin: 4vw 15vw;
}
main .bubbles .gridTwo img {
  width: 100%;
}
main .bubbles .gridTwo h3 {
  color: #000000;
  margin-bottom: 0.5vw;
}
main .bubbles .gridTwo h4 {
  font-weight: 300;
  color: #5B5B5B;
  margin-top: 0;
}
main .artists {
  text-align: center;
  padding: 4vw;
  color: #FFFFFF;
}
main .artists h2 {
  text-align: center;
  font-size: 6vw;
}
main .artists h3 {
  text-align: center;
  font-size: 4vw;
  font-weight: 300;
  margin-top: -3vw;
  margin-bottom: 8vw;
}
main .artists .gridThree {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
}
main .artists .gridThree img {
  width: 100%;
}
main .artists .gridThree h3 {
  margin-top: 0;
  font-size: 4vw;
}
main .artists button {
  background-color: transparent;
  color: #FFFFFF;
  border: solid 2px #FFFFFF;
  border-radius: 5px;
  padding: 1vw 3vw;
  font-size: 4vw;
  margin: auto;
  display: block;
}
main .artists button:hover {
  background-color: #FFFFFF;
  color: #3A0CA3;
}
@media (min-width: 800px) {
  main .hero .logo {
    width: 60vw;
  }
  main .hero h2 {
    font-size: 2.2vw;
  }
  main .hero .sw {
    width: 70%;
  }
  main .fun {
    padding: 6vw 1vw;
  }
  main .fun h2 {
    font-size: 4vw;
  }
  main .fun h3 {
    font-size: 3vw;
  }
  main .fun .gridOne {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    padding: 1vw 10vw;
  }
  main .fun .gridOne h2 {
    font-size: 4vw;
  }
  main .fun .gridOne h3 {
    font-size: 3vw;
  }
  main .fun .gridOne .stats {
    width: 18vw;
  }
  main .fun .gridOne .stats h4 {
    font-size: 2.5vw;
  }
  main .fun .gridOne .stats img {
    width: 2.3vw;
    margin-left: -3vw;
  }
  main .fun .buttonBox button {
    font-size: 2.5vw;
  }
  main .bubbles h2 {
    font-size: 4vw;
  }
  main .bubbles h3 {
    font-size: 2.8vw;
  }
  main .bubbles .gridTwo {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    text-align: center;
    margin: 4vw 4vw;
  }
  main .bubbles .gridTwo h3 {
    font-size: 2vw;
  }
  main .bubbles .gridTwo h4 {
    font-size: 2vw;
  }
  main .artists {
    padding: 6vw 1vw;
  }
  main .artists h2 {
    font-size: 4vw;
  }
  main .artists h3 {
    font-size: 3vw;
  }
  main .artists .gridThree {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    padding: 1vw 10vw;
  }
  main .artists .gridThree h3 {
    margin-bottom: 3vw;
  }
  main .artists button {
    font-size: 2.5vw;
  }
}
@media (min-width: 1100px) {
  main .hero .logo {
    width: 45vw;
    padding-top: 5vw;
  }
  main .hero h2 {
    font-size: 2vw;
    margin-top: 0;
  }
  main .hero .sw {
    width: 60vw;
    padding-bottom: 5vw;
  }
  main .fun {
    padding: 4vw 0;
  }
  main .fun h2 {
    font-size: 3.5vw;
  }
  main .fun h3 {
    font-size: 3vw;
  }
  main .fun .gridOne {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    text-align: center;
    padding: 1vw 5vw;
    margin: 0;
    margin-top: -3vw;
  }
  main .fun .gridOne h2 {
    font-size: 2.5vw;
  }
  main .fun .gridOne h3 {
    font-size: 2vw;
    margin-top: -2vw;
  }
  main .fun .gridOne .stats {
    width: 15vw;
    text-align: center;
  }
  main .fun .gridOne .stats h4 {
    font-size: 2vw;
  }
  main .fun .gridOne .stats img {
    width: 1.9vw;
    margin-left: -2.5vw;
  }
  main .fun .buttonBox button {
    font-size: 2vw;
    border-width: 4px;
  }
  main .bubbles {
    padding: 2vw 0;
  }
  main .bubbles h2 {
    font-size: 3.5vw;
  }
  main .bubbles h3 {
    font-size: 2.2vw;
  }
  main .bubbles .gridTwo {
    gap: 6vw;
    padding: 2vw 2vw;
    margin: 2vw 2vw;
  }
  main .artists {
    padding: 4vw 0;
  }
  main .artists h2 {
    font-size: 3.5vw;
  }
  main .artists h3 {
    font-size: 3vw;
  }
  main .artists .gridThree {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    text-align: center;
    padding: 1vw 5vw;
    margin: 0;
    margin-top: -3vw;
  }
  main .artists .gridThree h3 {
    font-size: 2vw;
  }
  main .artists button {
    font-size: 2vw;
    border-width: 4px;
  }
}
@media (min-width: 1400px) {
  main .hero .logo {
    width: 30vw;
    padding-top: 3vw;
  }
  main .hero h2 {
    font-size: 1.5vw;
  }
  main .hero .sw {
    width: 50vw;
    padding-bottom: 3vw;
  }
  main .fun {
    padding: 3vw 2vw;
  }
  main .fun h2 {
    font-size: 2.5vw;
  }
  main .fun h3 {
    font-size: 2vw;
    margin-top: -2vw;
  }
  main .fun .gridOne {
    margin-top: -5vw;
    padding: 1vw 16vw;
  }
  main .fun .gridOne h2 {
    font-size: 1.9vw;
  }
  main .fun .gridOne h3 {
    font-size: 1.5vw;
    margin-top: -1.5vw;
  }
  main .fun .gridOne .stats {
    margin-top: -9.5vw;
    width: 10vw;
  }
  main .fun .gridOne .stats h4 {
    font-size: 1.5vw;
  }
  main .fun .gridOne .stats img {
    width: 1.4vw;
    margin-left: -0.5vw;
  }
  main .fun .buttonBox button {
    font-size: 1.5vw;
  }
  main .bubbles h2 {
    font-size: 2.5vw;
  }
  main .bubbles h3 {
    font-size: 2vw;
  }
  main .bubbles .gridTwo {
    padding: 2vw 14vw;
    gap: 3vw;
  }
  main .bubbles .gridTwo h3 {
    font-size: 1.5vw;
  }
  main .bubbles .gridTwo h4 {
    font-size: 1.3vw;
  }
  main .artists {
    padding: 2vw 2vw;
  }
  main .artists h2 {
    font-size: 2.5vw;
  }
  main .artists h3 {
    font-size: 2vw;
    margin-top: -2vw;
    margin-bottom: 5vw;
  }
  main .artists .gridThree {
    padding: 1vw 16vw;
  }
  main .artists .gridThree h3 {
    font-size: 1.5vw;
  }
  main .artists button {
    font-size: 1.5vw;
  }
}

@font-face {
  font-family: "heavy";
  src: url("../scss/fonts/P22 Underground W01 Heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "normal";
  src: url("../scss/fonts/P22 Johnston Underground Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: auto;
}